<h1>Angular Header Layout</h1>
<a routerLink="variable">1.Variable</a> |
<a routerLink="click">2.Click</a> |
<a routerLink="change">3.Change</a> |
<a routerLink="if-cause">4.If-Cause</a> |
<a routerLink="for-loop">5.For-Loop</a> |
<a target="_blank"
  href="https://docs.google.com/presentation/d/14HLpEMaNc3_mrSqrY6PHwJkv1qb7RZtpqqLDH0FBy5s/edit#slide=id.gda4aff4a7e_0_0">6.Structure</a>
|
<a routerLink="service">7.Service</a>
<div>
  <a routerLink="my-space">[MY SPACE]</a>
  <a routerLink="my-space2">[MY SPACE2]</a>
</div>
<hr />

<router-outlet></router-outlet>

<hr />
<a routerLink="component-intro">8.Component</a> |
<a routerLink="component-input">9.Component (Input)</a> |
<a routerLink="component-output">10.Component (Output)</a> |
<a routerLink="component-io">11.Component (Input & Output)</a> |
<a routerLink="component-example">12.Component Ex.</a> |
<a routerLink="form">13.Form</a>
<h1>Angular Footer Layout</h1>